{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'weathermail/style.css' %}" />
    {% bootstrap_javascript %}
    <title>Weather App Sample Project</title>
</head>
<body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'subscribe' %}">Weather App</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/admin">Admin Panel</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
<div class="container body">
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Weather Powered Email</h3></div>
        <div class="panel-body">{% block content %}{% endblock %}</div>
    </div>
</div>
</body>
</html>
